# ignore bundler config
/.bundle

# ignore all logfiles and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# ignore uploaded files in development
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# ignore master key for decrypting credentials
/config/master.key
/config/credentials/development.key

# ignore js related files
/public/grille-packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# ignore vendor files
vendor/

# ignore gem related files
pkg/

# ignore spec dummy dirs
spec/dummy/db/migrate/
spec/dummy/log/
spec/dummy/tmp/
spec/dummy/public/packs/
spec/dummy/public/packs-test/

# lock down in gemspec
Gemfile.lock
